.container {
  display: flex;
  align-items: center;
  height: 50px;
}

.collapseButton {
  width: 32px;
}

.titleContainer {
  width: 100%;
  font-size: 1.5em;
}

.toolsContainer {
  min-width: 50px;
  direction: rtl;
  text-align: start;
}
