@use '../../global.scss';

$sidebar-width: 320px;
$transition-time: 0.5s;

.topContainer {
  display: flex;
}

.leftContainer {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: global.$color-main-brand;
  overflow-x: hidden;
  padding: 12px;
  width: $sidebar-width;
}

.rightContainer {
  margin-left: $sidebar-width;
  padding-left: 20px;
  width: 100%;
}
