@use '../../global.scss';

$sidebar-width: 320px;
$transition-time: 0.5s;

.sidebarBase {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -1;
  background-color: global.$color-main-brand;
  overflow-x: hidden;
  padding: 12px;
}

.sidebarNormal {
  width: $sidebar-width;
}

.contentContainerShift {
  margin-left: $sidebar-width;
  padding-left: 20px;
}
