@use '../../../global.scss';

.sidebarComponent {
  position: relative;
  background-color: global.$color-light-shade;
  border-radius: 20px;
  margin-bottom: 18px;
  padding: 8px 18px;
  box-shadow: 0px 0px 5px -1px global.$color-dark-shade;
}

.sidebarComponent .edge {
  position: absolute;
  left: calc(100% - 18px);
  top: -30px;
  min-width: 30px;
  height: calc(100% + 60px);
  background-image: linear-gradient(
    90deg,
    global.$color-light-shade,
    rgb(245, 246, 248)
  );
}

.sidebarComponent .edge::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: global.$color-main-brand;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 30px;
}

.sidebarComponent .edge::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: global.$color-main-brand;
  top: calc(100% - 30px);
  left: 0px;
  border-top-right-radius: 30px;
}

.sidebarComponent.active .edge {
  display: block;
}

.sidebarComponent.inactive .edge {
  display: none;
}

.sidebarComponent .header {
  line-height: 42px;
  padding-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.sidebarComponent.active .header {
  // background-image: linear-gradient(270deg, #ced9e0, global.$color-b);
  // background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #ced9e0);
  border-radius: 3px;
}

.sidebarComponent.inactive {
  opacity: 0.65;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
  z-index: 5;
}

.sidebarComponent.inactive:hover {
  opacity: 1;
}

.sidebarComponent .content {
  transition: all 150ms ease-in-out;
}
