@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImg {
  min-width: 500px;
}

.featureText {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  padding-left: 4em !important;
  padding-right: 4em !important;
}

.featureText h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  width: 100%;
}

.featureContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
