.searchInputContainer :global(.bp6-tag-input) {
  border-radius: 28px;
  height: 50px;
  box-shadow: none;
}

.searchInputContainer :global(.bp6-tag-input):focus {
  box-shadow: none;
}

.searchInputContainer :global(.bp6-tag-input) > :global(.bp6-icon) {
  margin-top: 16px;
}
