@use '../../../global.scss';

.container {
  margin-top: 28px;
  padding: 0px 48px 0px 48px;
}

.tabsContainer {
  margin-bottom: 50px;
}

.card {
  padding: 8px 12px;
  width: 100%;
}

.wrapText {
  overflow-wrap: anywhere;
}

.floatRightButton {
  float: right;
}

.bpTabs :global(.bp4-tab) {
  padding: 4px 12px;
  border-radius: 18px;
  font-weight: bold;
  color: global.$color-text;
  transition: all 200ms ease-in;
}

.bpTabs :global(.bp4-tab)[aria-selected='true'] {
  background-color: global.$color-main-brand !important;
  color: global.$color-c;
  padding: 4px 12px;
  border-radius: 18px;
  font-weight: bold;
}

.bpTabs :global(.bp4-tab-indicator-wrapper) {
  display: none;
}

.bpTabs
  :global(.bp4-tab):not([aria-selected='true']):not([aria-disabled='true']):hover {
  background-color: #ddd !important;
  color: inherit;
}

.localStorageWarning {
  line-height: 40px;
  background: #ffb366;
  border-radius: 28px;
  padding: 4px 18px;
  margin-bottom: 40px;
  color: #000060;
  text-align: center;
}
