.container {
  min-width: 900px;
  min-height: 400px;
}

.dialogIcon {
  padding-right: 8px;
  margin-left: -8px;
  font-size: 1.4em;
}

.dialogInnerContainer {
  padding: 24px 10px;
}

.dialogCard {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 20px;
}
