@use '../../../global.scss';

.sessionSelectorMenu {
  margin-bottom: 40px;
  border-radius: 40px;
  padding: 14px 8px;
  // box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 0 0 rgb(16 22 26 / 0%),
  //   0 1px 1px rgb(16 22 26 / 20%);
}

.sessionSelectorMenu :global(.bp3-menu-item):hover {
  background-color: inherit;
}

.sessionLabelActive {
  background-color: global.$color-d;
  color: global.$color-c;
}

.sessionLabelActive .sessionLabelSub {
  color: darken(global.$color-c, 15%);
}

.sessionLabelActive :global(.bp3-button) :global(.bp3-icon) {
  color: global.$color-c;
}

.sessionLabelContainer {
  padding: 4px 14px;
  border-radius: 24px;
}

.sessionLabelContainer:hover {
  background-color: lighten(global.$color-light-accent, 35%);
}

.sessionLabelContainer.sessionLabelActive:hover {
  background-color: global.$color-d;
}

.sessionLabelSub {
  margin-top: -10px;
  color: global.$color-light-accent;
}

.sessionLabelContentContainer {
  display: flex;
  align-items: center;
}

.sessionLabelContent {
  width: 100%;
}

.sessionLabelTools {
  min-width: 20px;
}

.sessionMenuGroupSelector {
  margin-bottom: 8px;
}

.sessionMenuGroupSelector :global(.bp3-html-select) {
  border-radius: 18px;
}

.sessionMenuGroupSelector :global(.bp3-html-select) select {
  background-color: white;
  background-image: none;
  box-shadow: none;
}

.sessionMenuGroupSelector :global(.bp3-html-select) select:hover {
  box-shadow: 0 0 0 1px rgb(16 22 26 / 10%), 0 0 0 rgb(16 22 26 / 0%),
    0 1px 1px rgb(16 22 26 / 20%);
}
