.card {
  margin-top: 6px;
  padding: 8px 12px;
  min-height: 54px;
  border-radius: 12px;
  box-shadow: none;
}

.leftSide {
  display: flex;
  float: left;
  margin-top: 10px;
}

.dragHandle {
  margin-left: -8px;
  margin-right: 10px;
  color: #666;
  cursor: grab;
}

.content {
  display: block;
  padding-left: 44px;
  padding-right: 64px;
}

.rightSide {
  display: flex;
  float: right;
  margin-top: 4px;
}

.wrapText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.tabTitle {
  font-size: 1.2em;
}

.tabUrl {
  color: #888;
}

.previewHeaderContainer {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background-color: rgb(249, 249, 249);
  border-radius: 38px 38px 0px 0px;
}

.previewFavIconContainer {
  margin-top: 0px;
  margin-right: 10px;
}

.previewCard {
  padding: 0px;
  max-width: 524px;
  border-radius: 38px;
}

.previewTitleH {
  display: inline-block;
  font-size: 1.5em;
}

.previewWrapText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  word-break: break-all;
}

.previewTitle {
  display: flex;
  align-items: center;
}

.previewImageContainer {
  padding: 12px;
  border-radius: 0px 0px 38px 38px;
}

.previewImage {
  border-radius: 8px;
  max-width: 500px;
  max-height: 500px;
  border: 1px solid #f1f1f1;
}

.tabCardPopover :global(.bp3-popover2) {
  border-radius: 38px;
  box-shadow: 0 8px 24px rgb(16 22 26 / 20%);
}

.tabCardPopover :global(.bp3-card) {
  box-shadow: none;
}

.tabCardPopover :global(.bp3-popover2) :global(.bp3-popover2-content) {
  border-radius: 38px;
}
