@use '../../../global.scss';

.container {
  margin-left: 2px;
  position: relative;
  padding-right: calc(50vw - 200px);
}

.rightSideContainer {
  width: 40vw;
  max-width: 50%;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: global.$color-light-shade;
  padding: 0px 48px 0px 48px;
  box-shadow: 1px 0px 1px 0px inset #bbb;
  height: 100vh;
}
