@use '../../../global.scss';

.container {
  display: flex;
  // margin-left: 2px;
  // position: relative;
  // padding-right: calc(50vw - 200px);
}

.mainContainer {
  overflow-y: auto;
  flex-grow: 1;
  height: 100vh;
}

.rightSideContainer {
  width: 50%;
  max-width: 50%;
  overflow-y: auto;
  background-color: global.$color-light-shade;
  box-shadow: 1px 0px 1px 0px inset #bbb;
  height: 100vh;
}
